@import url("projects.css");
/* [0] Global Style*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

:root {
  scroll-behavior: smooth;
  --mainColor: red;
  --hoverColor: rgb(22, 188, 230);
  font-size: 10px;
}

section {
  margin-block: 11rem;
}

.container {
  width: 90%;
  margin: auto;
}
/* start introduction-wep3 */
#introduction-wep3 {
  position: relative;
  overflow: hidden;
}
#introduction-wep3 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 80vh;
}
#introduction-wep3 .container div {
  max-width: 40vw;
  min-width: 300px;
  margin: 0 auto;
}
#introduction-wep3 .container div p {
  padding-block: 0;
  line-height: 1.5;
}
#introduction-wep3 .container img {
  max-width: 40vw;
  min-width: 300px;
  margin: 0 auto;
}
.light-img {
  height: 70vh;
  position: absolute;
  /* width: 300px; */
  top: 10px;
  right: -110px;
  z-index: -1;
}
/* End intoduction--wep3 */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.col {
  flex: 1 0 0%;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: 2.5rem;
  line-height: inherit;
  text-transform: none;
  outline: 0;
  background: transparent;
  border: none;
  color: white;
  padding: 8px 0;
  cursor: pointer;
  transition: 0.4s ease-in all;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

body {
  background-color: black;
  color: white;
}

.title {
  font-weight: 700;
  font-size: 10rem;
}
.title-2 {
  font-weight: 700;
  font-size: 4rem;
}
.hover:hover {
  color: var(--hoverColor);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: rgb(189, 180, 180);
  padding-block: 2.5rem;
}

/* [1] Navbar */

header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 70px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: normal;
  color: white;
}
header nav ul li a:nth-child(4){
    position: relative;
}
header nav ul li:nth-child(4)::after{
    position: absolute;
    content: "2";
    background-color: white;
    color: black;
    width: 18px;
    height: 18px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    top: 3px;
}
header nav .menu{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
header nav .menu a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: normal;
}
header nav .menu-logo{
 display: flex;
 align-items: center;
 gap: 8px;
}
header nav .menu-logo span{
    width: 1px;
    height: 16px;
    background-color: white;
}


/* [2] Hero Section  */

/* [3] Our Client Section */
/* star section our client */
#ourClient .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ourClient .container img{
  width: 20%;
}
/* [4] What is Web3 studio?  Section  */

/* [5] Projects Section */
/* included in the head of file */

/* [6] Other projects Section */

/* [7] How we can help grow */

/* [8] About Section */
#about {
  text-align: center;
}

#about .container .boxes {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#about .container .boxes .about-image-left .square {
  position: absolute;
  left: -34rem;
  top: 45%;
  height: 300px;
}

#about .container .boxes .about-content {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#about .container .boxes .about-content .img {
  margin-top: auto;
}

#about .container .boxes .about-content button i,
footer .container .left-box button i {
  font-size: 2rem;
  margin-left: 1rem;
}

.about-image-rigth {
  padding-bottom: 5rem;
}

#about .container .boxes .about-image-rigth .tringle {
  width: 20rem;
  margin-bottom: 3rem;
}

#about .container .boxes .about-image-rigth .circle {
  width: 23rem;
  position: absolute;
  bottom: 0rem;
  right: 4rem;
  z-index: -1;
}

#about .container .boxes .about-image-rigth .img,
#about .container .boxes .about-image-left .img {
  width: 20rem;
}

/* [9] Footer */

footer {
  padding-block: 11rem;
}
footer .container .rigth-box ul li.list-titre {
  font-size: 1.8rem;
  color: white;
}
footer .container .rigth-box ul li {
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
  color: rgb(189, 180, 180);
}
#icon-to-top {
  position: fixed;
  font-size: 3rem;
  bottom: 30px;
  right: 30px;
  width: fit-content;
  cursor: pointer;
  padding: 10px;
  transition: background 0.4s ease-in;
  -webkit-transition: background 0.4s ease-in;
  -moz-transition: background 0.4s ease-in;
  -ms-transition: background 0.4s ease-in;
  -o-transition: background 0.4s ease-in;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  animation: moving 0.5s infinite alternate;
  -webkit-animation: moving 0.5s infinite alternate;
}
#icon-to-top:hover {
  background: #464444cb;
}
@keyframes moving {
  100% {
    bottom: 50px;
  }
}
